body {
  font-family: "Titillium Web", sans-serif;
}

.h1title {
  font-size: 66px;
  font-weight: 600;
  line-height: 80px;
}

.h2title {
  font-size: 48px;
  margin-bottom: 30px;
}

.ptext {
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
  margin-bottom: 0;
}

section, footer {
  padding: 120px 0;
}

a:hover {
  text-decoration: none;
}

.bg-ligth-gray {
  background-color: #f5f5f5;
}

.bg-footer { background-color: #1a1a1a; }

.topmargin-xs {
  margin-top: 15px !important;
}
.topmargin-sm {
  margin-top: 30px !important;
}
.topmargin-lg {
  margin-top: 60px !important;
}

.icon-size {
  width: 30px;
}

.btn {
  font-size: 14px;
  padding: 15px 26px;
  min-width: 2px;
  display: inline-block;
}

.btn img {
  margin-left: 8px;
  width: 30px;
}

.text-dark {
  color: #1a1a1a;
}

.light-text {
  color: #000;
  opacity: 0.5;
}

.btn-light {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

.navbar {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  min-height: 100px;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #000;
}

.logo-brand {
  min-width: 160px;
  max-width: 180px;
}

.hamburger {
  width: 30px;
}

.divider { border-bottom: 2px solid #f5f5f5; }

.form-control {
  font-size: 14px;
  border: 1px solid #cacaca;
  padding: 15px;
  border-radius: 2px;
  height: auto;
}

.form-control:focus {
  border: 1px solid #1a1a1a;
  outline: none;
  box-shadow: none;
}

#hero {
  background-image: url(./img/hero.jpg);
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #fff;
}

.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 2px;
}

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.portfoliotext {
  font-size: 18px;
  color: #1a1a1a;
  opacity: 0.5;
}

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 1;
}

.portfolio-details h2 {
  margin-bottom: 0;
}

.portfolio-details a h2,
.portfolio-details a p {
  color: #fff;
}

.member-container {
  position: relative;
  margin: 10px 0;
}

.member-details {
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.member-details h5,
.member-details span {
  color: #fff;
}

.member-details h5 {
  margin-bottom: 0;
}

.member-details span {
  font-size: 14px;
}

.pricing-container {
  margin: 15px 0;
}

.plans {
  padding: 50px 80px;
  border-radius: 2px;
  min-width: 450px;
}

.plans h2 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 30px;
}

.plans h2 span {
  font-size: 20px;
}

.plans ul {
  list-style-type: square;
}

.full-width {
  width: 100%;
  background-color: #1a1a1a;
}

.plan-light {
  background-color: #fff;
  border: 2px solid #000;
}

.plan-light a {
  border: 2px solid #1a1a1a;
}

.plan-light a:hover {
  border: 2px solid #000;
  color: #000;
  background: #fff;
  font-weight: bold;
}

.plan-dark {
  background-color: #1a1a1a;
  color: #fff;
}

.plan-dark a {
  border: 2px solid #fff;
}

.plan-dark a:hover {
  border: 2px solid #fff;
  background: #fff;
  color: #000;
  font-weight: bold;
}

.carousel {
  min-height: 240px;
  padding: 40px;
  border-radius: 2px;
  text-align: center;
}

.carousel p {
  font-size: 26px;
  font-weight: 400;
  color: #1a1a1a;
}

.carousel-indicators li {
  background-color: #1a1a1a;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev {
  color: #fff;
  opacity: 1;
  width: 5%;
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.testimonial-user {
  max-width: 240px;
  margin: 0 auto;
  text-align: left;
}

.testimonial-user h6 {
  margin-bottom: 0;
}

.testimonial-user span {
  font-size: 12px;
}

.testimonial-user img {
  border-radius: 50%;
  max-width: 50px;
  text-align: center;
}

#footer {
  padding: 80px 0;
  text-align: center;
  color: #fff;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
}

#footer .list-inline .list-inline-item {
  padding: 10px 15px;
}

#footer .icon-footer {
  width: 30px;
  height: 30px;
}

@media (max-width: 575.98px) {
  .herotitle { font-size: 40px; line-height: normal; }
  .portfolio-details h2 { font-size: 32px; }
  .plans { min-width: unset; padding: 40px; }
  .h1title { font-size: 40px;}
  .carousel-item { font-size: 20px;}
  .footer-menu { display: block; padding: 20px 0; font-size: 20px}
  #footer .list-inline .list-inline-item { padding: 10px 10px; }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  ...
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .plans { min-width: unset; padding: 40px 20px; }
  .portfolio-details h2 { font-size: 30px; }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  ...
}

@media (min-width: 1200px) {
  ...
}
